In [20]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import plot_partregress_grid
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.metrics import mean_squared_error
print("Pandas version used: " + pd.__version__)
print("Matplotlib version used: " + plt.matplotlib.__version__)
print("Seaborn version used: " + sns.__version__)
print("Statsmodels version used: " + sm.__version__)
print("Scikit-learn version used: " + sklearn.__version__)

Pandas version used: 1.0.5
Matplotlib version used: 3.2.2
Seaborn version used: 0.10.1
Statsmodels version used: 0.11.1
Scikit-learn version used: 0.23.1

In [2]:
stu_perf_df = pd.read_csv("Datasets/stu_perf_clean.csv",index_col='stu_id')

In [3]:
stu_perf_df

,female,eth_A,eth_B,eth_C,eth_D,p_ed_hs,p_ed_som_col,p_ed_assc,p_ed_bach,p_ed_mast,std_lunch,test_prep,math_score,reading_score,writing_score,avg_score
stu_id,,,,,,,,,,,,,,,,
0,0,0,1,0,0,0,0,0,0,0,1,0,71,59,54,61.33
1,1,0,1,0,0,0,0,0,0,0,0,0,40,51,49,46.67
2,0,0,1,0,0,0,0,1,0,0,1,0,87,73,75,78.33
3,0,0,0,1,0,0,0,0,0,0,1,0,69,53,55,59.00
4,1,0,0,1,0,1,0,0,0,0,1,0,74,79,72,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,1,0,0,0,0,1,0,0,0,0,79,79,70,76.00
9996,0,1,0,0,0,0,1,0,0,0,0,1,69,70,64,67.67
9997,1,0,0,0,0,0,1,0,0,0,0,0,54,63,60,59.00
9998,0,0,0,1,0,0,1,0,0,0,0,0,53,44,47,48.00
9999,0,0,0,1,0,0,0,1,0,0,1,1,100,96,96,97.33

In [13]:
feat_cols = stu_perf_df.columns[:-4]
X = (stu_perf_df[feat_cols])
y = stu_perf_df.avg_score

estimator = tree.DecisionTreeRegressor(max_depth=10)
estimator.fit(X,y)

DecisionTreeRegressor(max_depth=10)

In [19]:
estimator.

TypeError: 'numpy.ndarray' object is not callable