In [1]:
import pandas as pd
print("Pandas version used: " + pd.__version__)

Pandas version used: 1.0.5

In [2]:
stu_perf_df = pd.read_csv("stu_perf_clean.csv", index_col=)

,Unnamed: 0,female,eth_A,eth_B,eth_C,eth_D,p_ed_hs,p_ed_som_col,p_ed_assc,p_ed_bach,p_ed_mast,std_lunch,test_prep,math_score,reading_score,writing_score,avg_score
0,0,1,0,1,0,0,0,0,0,1,0,1,0,72,72,74,72.67
1,1,1,0,0,1,0,0,1,0,0,0,1,1,69,90,88,82.33
2,2,1,0,1,0,0,0,0,0,0,1,1,0,90,95,93,92.67
3,3,0,1,0,0,0,0,0,1,0,0,0,0,47,57,44,49.33
4,4,0,0,0,1,0,0,1,0,0,0,1,0,76,78,75,76.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1,0,0,0,0,0,0,0,0,1,1,1,88,99,95,94.00
996,996,0,0,0,1,0,1,0,0,0,0,0,0,62,55,55,57.33
997,997,1,0,0,1,0,1,0,0,0,0,0,1,59,71,65,65.00
998,998,1,0,0,0,1,0,1,0,0,0,1,1,68,78,77,74.33
999,999,1,0,0,0,1,0,1,0,0,0,0,0,77,86,86,83.00